.chat__selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4px 15px;
  padding: 8px 5px;
  cursor: pointer;
  border: 1px solid transparent;

  &.selected {
    border: 1px solid #adf0e9;
    border-radius: 5px;
    background: turquoise;
  }

  &:hover {
    border: 1px solid #adf0e9;
    border-radius: 5px;
    background: turquoise;
  }

  .chat__selection--left {
    margin: 0px 8px;
  }

  .chat__selection--right {
    flex: 1;
  }
}
