.chats {
  flex: 0.65;
  width: 800px;

  display: flex;
  flex-direction: column;
}

.chats__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px 8px 23px 20px;
  border-bottom: 1px solid lightgray;
}

.chats__header--left {
  flex: 0.1;
}

.chats__header--middle {
  flex: 0.6;
}

.chats__header--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0.3;
}

.chats__room__name {
  font-weight: 600;
  font-size: 0.975em;
}

.chats__last_seen {
  font-weight: 400;
  font-size: 0.875em;
  margin-top: 10px;
}

.chats__body {
  /* display: flex; */
  /* flex-direction: column; */
  background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
  background-position: center;
  background-repeat: repeat;
  object-fit: contain;
  padding: 30px;
  overflow: scroll;
  flex: 1;
  /* height: 100%; */
  max-height: 365px;
}

.chats__body::-webkit-scrollbar {
  display: none;
}

.chats__body.default {
  height: 100%;
  max-height: unset;
  display: grid;
  place-items: center;
}

.chats__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 5px 15px;
}

.chats__footer form {
  flex: 1;
}

.chats__footer form > input {
  margin: auto;
  width: calc(100% - 45px);
  margin-left: 10px;
  border-radius: 1pc;
  border: 1px solid lightgray;
  height: 34px;
  padding-left: 15px;
  font-size: 0.845em;
  letter-spacing: 0.25px;
  outline: none;
}

.body__defaultMsg {
  font-weight: 500;
  color: #333;
}
