.form {
  display: grid;
  place-items: center;
  margin-top: 12px;
  .submit-btn {
    margin: 24px 0px;
    text-transform: none;
  }
  .header {
    text-align: left;
    width: 100%;
    margin-top: 12px;
    font-size: 16;
    font-weight: 600;
    padding: 0px 24px;
  }
}

.oauth--error {
  width: 80%;
  color: #fff;
  background-color: #f16351;
  word-wrap: break-word;
  margin: 10px 0px 0px;
  padding: 5px;
  border-radius: 5px;
}

.form .Feild__button {
  margin-bottom: 10px;
}
