.app {
  background-color: #dadbd3;
  display: grid;
  place-items: center;
}

.app__body {
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 90vw;
  height: 90vh;
  margin: 5% auto 0;
  overflow: hidden;
}